.top-bar,
.row,
.grid-x {
	display: -webkit-flex;
}

.grid-x {
	-webkit-flex-flow: row wrap;
}

.top-bar {
	-webkit-flex-wrap: nowrap;
	-webkit-align-items: center;
}

.menu.dropdown {
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	-webkit-flex-direction: row;
}

.align-center {
	-webkit-justify-content: center;
}