.footer {
  clear: both;
	background-color: #f1f1f2;
  padding: rem-calc(45px) 0;
  @include breakpoint(mobile down) {
    text-align: center;
    .text-right {
      text-align: center;
      margin-top: $mobile-padding / 2;
    }
    .footer-menu {
      margin-top: $mobile-padding / 2;
    }
  }
  @include breakpoint(large) {
    padding: rem-calc(70px) 0;
  }
  .menu {
    display: block;
    li {
      display: block;
      a {
        font-size: 17px;
        color: $light-gray;
      }
    }
    li.menu-item-has-children {
      >a {
        color: $light-gray;
        font-size: 17px;
      }
    }
    li.menu-item--popup {
      a {
        font-weight: bold;
        color: get-color(primary);
        font-size: 17px;
      }
    }
    ul.sub-menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li a {
        color: $light-gray;
        font-size: 14px;
        line-height: 1.3;
      }
    }
  }
}

.social-link {
  margin-left: 20px;
  font-size: 30px;
  line-height: 1;
}

