// Global variables
$global-transition:   300ms;
$nav-height:          100px;
$announcement-height: 50px;
$mobile-padding: 30px;
h1,
h2,
h3,
h4,
h5,
h6 {
  color: get-color(secondary);
}

p {
  &.small {
    font-size: 14px;
    line-height: 1.4;
  }
}

.page-title {
  // Remove Foundation vcard styling from author page titles
  .vcard {
    border: 0px;
    padding: 0px;
  }
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
  @include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/

.gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-right: -15px;
  margin-left: -15px;
}

.gallery::before,
.gallery::after {
  content: ' ';
  display: table;
}

.gallery::after {
  clear: both;
}

.gallery.gallery-columns-1>dl {
  @include grid-column;
}

.gallery.gallery-columns-2>dl {
  @include grid-column(1 of 2);
}

.gallery.gallery-columns-3>dl {
  @include grid-column(1 of 3);
}

.gallery.gallery-columns-4>dl {
  @include grid-column(1 of 4);
}

.gallery.gallery-columns-5>dl {
  @include grid-column(1 of 5);
}

.gallery.gallery-columns-6>dl {
  @include grid-column(1 of 6);
}

.gallery.gallery-columns-7>dl {
  @include grid-column(1 of 7);
}

.gallery.gallery-columns-8>dl {
  @include grid-column(1 of 8);
}

.gallery dl {
  width: 100%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.gallery dl:last-child:not(:first-child) {
  float: right;
}

/******************* Override Foundation Styles ********************/

.grid-container:not(.full)>.grid-padding-x {
  margin: 0;
}

/******************* Global Styles ********************/

a {
  transition: color $global-transition;
  font-family: 'Avenir Next', Arial, sans-serif;
  font-weight: 500;
  color: get-color(primary);
}

ul,
ol {
  font-family: 'Avenir Next', Arial, sans-serif;
  font-weight: 500;
  color: #75777b;
  font-size: .9375rem;
  line-height: 1.4375rem;
  padding-left: 1.25rem;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-center-top {
  background-position: center top;
}

.bg-center-bottom {
  background-position: center bottom;
}

.bg-center {
  background-position: center center;
}

.bg-center-right {
  background-position: center right;
}

.bg-center-left {
  background-position: center left;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.light {
  font-weight: 400;
}

.lighter {
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.abs-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
}

.abs-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.no-maxwidth {
	@include breakpoint(medium) {
		max-width: none !important;
	}
}

.nomargin {
  margin: 0;
}

.nopadding {
  padding: 0;
}

.mb0 {
  margin-bottom: 0;
}

.nostyle-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nostyle-table {
  border: none;
  margin: 0;
  background-color: transparent;
  thead,
  tbody,
  tfoot {
    background-color: transparent;
  }
  tbody {
    vertical-align: top;
    border: 0;
  }
  td {
    padding: 0;
  }
}

.flex-center-items {
  height: 100%;
  align-items: center;
  -webkit-align-items: center;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.h100p {
  height: 100%;
}

.w100p {
  width: 100%;
}

$margin: 20;
@mixin margin-classes {
  @for $i from 1 through $margin {
    .mb#{$i * 5} {
      margin-bottom: #{$i * 5}px;
    }
    .mt#{$i * 5} {
      margin-top: #{$i * 5}px;
    }
  }
}

@include margin-classes();
.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt50 {
  margin-top: 50px;
}

.lh1 {
  line-height: 1;
}

.no-overflow {
  overflow: hidden;
}

.no-outline {
  outline: none !important;
}

.main-container,
.container {
  @include xy-grid-container;
  max-width: $global-width;
  margin: 0 auto;
  position: relative;
}

.main-container {
  padding: 3.25rem 0;
}

.flex-bottom {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.button {
  border: 2px solid $primary-color;
  border-radius: 4px;
  @include breakpoint(large) {
    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
  &.small {
    padding: rem-calc(9px) rem-calc(7px);
  }
  &.tiny {
    padding: rem-calc(4px) rem-calc(10px);
  }
  &.menu-button {
    padding: 0;
    margin-left: 10px;
    border-color: $primary-color;
    a {
      padding: rem-calc(4px) rem-calc(10px);
      color: $primary-color;
    }
    &:hover {
      background-color: $primary-color;
      a {
        color: $white;
      }
    }
  }
  &.reverse {
    border-color: $white;
    color: $white;
    &:hover {
      background-color: $white;
      color: $primary-color;
    }
    &--blue {
      border-color: get-color(primary);
      color: get-color(primary);
      &:hover {
        background-color: get-color(primary);
        color: $white;
      }
    }
  }
  &.fill {
    border-color: $white;
    background-color: $white;
    color: $primary-color;
    &:hover {
      color: $white;
      background-color: transparent;
    }
    &--blue {
      border-color: get-color(primary);
      background-color: get-color(primary);
      color: $white;
      &:hover {
        color: get-color(primary);
        background-color: transparent;
      }
    }
  }
  &.long {
    min-width: rem-calc(130px);
  }
}

.banner-button {
  border: #00a7b5;
}

.banner-button a {
  color: #00a7b5;
}

.cta-container {
  background: #00a7b5;
  padding: 1.5rem;
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

.red-color {
  color: get-color(red);
}

.white-color {
  color: white;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.fz-52 {
  @include breakpoint(large) {
    font-size: 52px;
  }
}

.fz-40 {
	@include breakpoint(large) {
		font-size: 40px;
	}
}

.fz-18 {
  font-size: 18px;
}

.fz-17 {
  font-size: 17px;
}

.light-gray {
  color: $light-gray;
}

.grid-centered {
  justify-content: center;
}

.grid-right {
  justify-content: flex-end;
}

.grid-fullwidth {
  width: 100%;
  max-width: none;
  margin: 0 auto;
}

@include breakpoint(mobile down) {
  /* reverse stack mobile */
  .stack-up {
    order: 11;
  }
  .stack-down {
    order: 12;
  }
  .reveal {
    padding: $mobile-padding / 2;
  }
}