.site-logo {
  max-width: 210px;
  padding: 0;
}

.page-navigation {
  margin-top: 1rem;
}

// Main menu styling
.menu {
  align-items: center;
  a {
    transition: color $global-transition;
    font-weight: 500;
    color: $light-gray;
    line-height: 1.3;
    &:hover {
      color: $primary-color;
    }
  }
  &.submenu {
    text-align: right;
    li {
      border: 2px solid #e3e3e3;
      border-top: none;
      &:first-child {
        border-top: 2px solid get-color(primary);
      }
    }
  }
}

// Reset Foundation padding and height for header
.top-bar {
  padding: 0;
  min-height: $nav-height;
}

.site-announcement {
  background-color: #333333;
  padding: rem-calc(11px) 0;
  p {
    margin-bottom: 0;
    padding: 0;
    @include breakpoint(medium) {
      font-size: rem-calc(18px);
    }
  }
}

// No arrow for parent menu
.dropdown.menu.medium-horizontal {
  >li.is-dropdown-submenu-parent {
    >a {
      padding-right: rem-calc(10px);
      &:after {
        content: none;
      }
    }
  }
}

// Submenu styling
.dropdown .is-dropdown-submenu a {
  padding-top: rem-calc(9px);
  padding-bottom: rem-calc(9px);
  line-height: 1.3;
}

.top-bar .top-bar-left {
  position: absolute;
  left: 0;
}

.top-bar .top-bar-right {
  position: absolute;
  right: 0;
}