.home-banner-background {
  background-position: center center;
}

.home-banner-container {
  padding: 7.938rem 0 11.88rem 0;
}

.home-banner-headline {
  font-size: 2.375rem;
  font-weight: 400;
  color: #233746;
}

.home-banner-subhead {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #233746;
}

.home-intro-icon {
  max-width: 4.375rem;
  padding-bottom: 2.5rem;
}

.home-intro-header {
  font-weight: 700;
  color: #233746;
}

.home-intro-description {
  font-weight: 500;
}
