.interior-banner {
  background: #f1f1f2;
  h4 {
    color: $light-gray;
  }
  &__wrapper {
    align-items: center;
    min-height: 322px;
    padding: rem-calc(40px) 0;
  }
  .button {
    margin-top: rem-calc(10px);
  }
}

.interior-banner-container {
  padding: 7.813rem 0;
}

/******************* Leadership ********************/

.leader-container {
  padding: 2.75rem 0;
}

.leader-headshot img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
}

.leader-name {
  font-size: 1.75rem;
  color: #0aa5b5;
  font-weight: 400;
}