.interior-banner {
  background: #f1f1f2;
  h4 {
    color: $light-gray;
  }
  &__wrapper {
    align-items: center;
    min-height: 322px;
    padding: rem-calc(40px) 0;
  }
  .button {
    margin-top: rem-calc(10px);
  }
}

.interior-banner-container {
  padding: 7.813rem 0;
}

/******************* Leadership ********************/

.leader-container {
  padding: 2.75rem 0;
}

.leader-headshot img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
}

.leader-name {
  font-size: 1.75rem;
  color: #0aa5b5;
  font-weight: 400;
}

// Page blocks
.page-block {
	&--padding {
		@include breakpoint(medium) {
			padding-top: 50px;
			padding-bottom: 75px;
		}
	}
	&--text-img {
		.grid-x {
			padding: rem-calc(20px) 0;
			min-height: 400px;
			align-items: center;
		}
		img.overlap-img {
			position: absolute;
			max-width: none;
			bottom: 0;
			height: 100%;
			left: calc(50% + #{map-get($map: $grid-column-gutter, $key: large)});
		}
		&--left {
			img.overlap-img {
				left: auto;
				right: calc(50% + #{map-get($map: $grid-column-gutter, $key: large)});
			}
		}
	}
	&--cta {
		.grid-x {
			padding: 50px 0;
			min-height: 250px;
			align-items: center;
		}
	}
}